img {
    margin: 10px;
}
body {
    background: rgb(217, 252, 247);
    width: auto;
}
ul {
    background: rgb(245, 243, 243);
}
.form-container, .portfolio {
    background: rgb(245, 243, 243);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000;
    margin: 30px 0 0 0;
}
.portfolio {
    padding-left: 10px;
}
footer {
    font-size: 25px;
    text-align: center;
    color: lightgray;
}
.figcaption {
    margin-left: 5rem;
}